{% extends 'base2.html.twig' %}

{% block title %}Course index{% endblock %}

{% block menu %}{{ include('student/menu.html.twig') }}{% endblock %}

{% block body %}
    <div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Courses</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
            {% for cours in listcourse %}
                <tr>
                    <td>
                        <div class="card shadow mb-3">
                            <!-- Card Header - Accordion -->
                            <a href="#id{{ cours.id }}" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                                <h6 class="m-0 font-weight-bold text-primary">{{ cours.name }}</h6>
                            </a>
                        </div>
                        <div class="card shadow mb-3">
                            <div class="collapse hidden" id="id{{ cours.id }}">
                                <div class="card-body">
                                    {{ cours.description }}
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="mb-2">
                        </div>
                        <form action="{{ path('demandeinscription') }}" method="post" >
                            <input type="hidden" name="cours" value="{{ cours.id }}">
                            <button type="submit" class="btn btn-outline-success" value="postuler">Postuler</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
    <!-- Collapsable Card Example -->
    <!--div class="card shadow mb-4">
        < Card Header - Accordion>
        <a-- href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
            <h6 class="m-0 font-weight-bold text-primary">Collapsable Card Example</h6>
        </a-->
        <!-- Card Content - Collapse >
        <div class="collapse show" id="collapseCardExample">
            <div class="card-body">
                This is a collapsable card example using Bootstrap's built in collapse functionality. <strong>Click on the card header</strong> to see the card body collapse and expand!
            </div>
        </div>
    </div>

    </div>

    </div>

    </div-->
{% endblock %}
